<div class="well">
  <ul class="nav">
    <li class="nav-header post-title">
    <a href="<%= post_path(@conn, :index) %>"><%= gettext "Latest posts" %></a>
    </li>
    <%= for post <- @last_posts do %>
      <li class="postLink">
        <a href="<%= post_path(@conn, :show, post.name) %>">
          <%= post.meta.title %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
