<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= BlogitWeb.PostView.title(assigns) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="alternate" type="application/rss+xml" title="<%= assigns[:blog].title %>" href="<%= feed_url(@conn, :index) %>">
    <%= blog_image_styles(@conn, assigns) %>
    <%= blog_custom_styles(@conn, assigns) %>

    <!-- Generate link alternate tags -->
    <%= for {lang, path} <- language_annotations(@conn) do %>
      <%= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
    <% end %>
  </head>

  <body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <a class="navmenu-brand" href="#">Project name</a>
      <ul class="nav navmenu-nav">
        <li><a href="../navmenu/">Slide in</a></li>
        <li class="active"><a href="./">Push</a></li>
        <li><a href="../navmenu-reveal/">Reveal</a></li>
        <li><a href="../navbar-offcanvas/">Off canvas navbar</a></li>
      </ul>
      <ul class="nav navmenu-nav">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu navmenu-nav">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
        </li>
      </ul>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="container">
      <header class="header">
        <a class="title-link" href="<%= post_path(@conn, :index)%>">
          <%= blog_logo(@conn, assigns) %>
          <div class="titles">
            <h1 class="blog-title">
              <%= assigns[:blog].title %>
            </h1>
            <p class="blog-sub"><%= assigns[:blog].sub_title %></p>
          </div>
        </a>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div class="row">
          <div class="col-lg-9">
            <%= render @view_module, @view_template, assigns %>
          </div>
           <div class="col-md-3">
             <%= render @view_module, "sidebar.html", assigns %>
           </div>
        </div>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      $(document).ready(function() { hljs.initHighlighting(); });
    </script>
  </body>
</html>
