<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= BlogitWeb.PostView.title(assigns[:post]) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= blog_image_styles(@conn, assigns) %>
    <%= blog_custom_styles(@conn, assigns) %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <%= blog_logo(@conn, assigns) %>
        <div class="titles">
          <h1 class="blog-title">
            <%= assigns[:blog].title %>
          </h1>
          <p class="blog-sub"><%= assigns[:blog].sub_title %></p>
        </div>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <div class="row">
          <div class="col-lg-9">
            <%= render @view_module, @view_template, assigns %>
          </div>
           <div class="col-md-3">
             <%= render @view_module, "sidebar.html", assigns %>
           </div>
        </div>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      $(document).ready(function() { hljs.initHighlighting(); });
    </script>
  </body>
</html>
