/* This file is for your main application css. */

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

.header {
  border-bottom: 0px;
}

.blog-logo {
  padding-bottom: 10px;
}

.blog-title {
  font-size: 52px;
}

.blog-sub {
  font-size: 16px;
  font-style: italic;
  padding-left: 2px;
}

.title-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.title-link:hover {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.post-title {
  font-weight: bold;
  font-size: 16px;
}

.post-title-container:first-child {
  margin-top: 0px;
}

.nav > li.post-title > a {
  padding: 0 0;
  text-decoration: none;
  color: inherit;
}

.post-link a {
  text-decoration: none;
  color: inherit;
}

.nav {
  margin-top: 5px;
}

.nav > li > a {
  padding: 6px 4px;
}

hr {
  clear both;
}

.container {
  padding-top: 20px;
  border: 0px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  background: white;
}

.post-stream {
  padding-right: 10px;
}

.post-row {
  margin-bottom: 30px;
}

.post-stream-row {
  margin-bottom: 60px;
}

.post {
  margin-bottom: 10px;
}

.post > h2 > a.post-title-link {
  font-size: 42px;
}

.post-read-more {
  height: 30px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.post-read-more-link {
  font-size: 18px;
  width: 100%;
}

.post-footer-divider {
  margin-bottom: 4px;
}

.post-divider {
  margin-top: 4px;
}

.post-author {
  font-size: 22px;
}

.post-date {
  font-size: 16px;
}

.before-post-date {
  margin-bottom: 10px;
}

.after-post-date {
  margin-top: 10px;
}

.post-category .post-category-name {
  font-style: italic;
}
.post-tags .post-tag-names {
  font-style: italic;
}

.sidebar-form {
  margin: 0;
}

.well {
  padding: 15px;
}

.not-found {
  height: 400px;
  background-image: url("/images/404.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.m-nav {
  display: none;
}

@media (max-width: 1200px) {
  .main-menu {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .post-stream {
    padding-top: 40px;
  }

  .container {
    padding-top: 44px;
  }

  .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
    float: left;
    background: white !important;
    display: block;
  }

  .navbar-toggle .icon-bar {
    background-color: black;
  }

  .m-nav {
    display: block; /* force showing the toggle */
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #f8f8f8;
    z-index: 10000;
  }

  .m-nav .navbar {
    height: auto;
    min-height: auto;
    margin: 0;
    padding: 0;
    top: 0;
  }

  .m-nav button {
    margin: 6px;
  }

  .m-nav form {
    margin: 6px;
  }

  .m-nav .btn {
    margin: 0;
  }

  .m-nav .input-group {
    max-width: 400px;
    float: right;
    width: calc(100% - 56px);
  }

  .navmenu {
    width: calc(100% - 56px);
  }
}

body {
  padding: 0;
  background: gainsboro;
}

.main-menu {
  margin-bottom: 30px;
}

.main-menu .nav {
  margin-top: 0;
  margin-bottom: 0;
}

.main-menu hr {
  margin-top: 6px;
  margin-bottom: 6px;
}

.main-menu .nav-pills > li > a {
  border-radius: 0;
  padding: 8px 16px;
}

.navbar {
  top: 11px;
  right: auto;
  background: none;
  border: none;
}

.navmenu-fixed-left li {
  padding-left: 20px;
  padding-right: 20px;
}

.navmenu-fixed-left .nav-segment {
  padding-left: 16px;
  font-size: 16px;
  color: #777;
  margin-bottom: 4px;
}

.follow-link {
  margin-top: 4px;
}

.github-follow-link {
  margin-top: 8px;
}

.btn-rss {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
  margin-top: 6px;
  background-image: url("/images/feedicon.png");
  background-size: 20px;
}

.nav > li.rss-subscribe-link > a:hover, .nav > li.rss-subscribe-link > .a:focus, .nav > li.rss-subscribe-link > a:active {
  background-color: inherit;
}

.tabs-below > .nav-tabs {
  border-bottom: 0;
  margin-top: -12px;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;

  background-color: #20201d;
  color: #a6a28c;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

pre {
  padding: 0px;
}

.multi-code-container {
  margin-bottom: 10px;
}

.multi-code-container pre {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
