/* This file is for your main application css. */

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

.hideContent {
  overflow: hidden;
  line-height: 1em;
  max-height: 35em;
}

.showContent {
  line-height: 1em;
  height: auto;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.post-link a {
  text-decoration: none;
  color: inherit;
}

.nav {
  margin-top: 5px;
}

.nav > li > a {
  padding: 6px 4px;
}

hr {
  clear both;
}

body {
  background: gainsboro;
}

.container {
  padding-top: 20px;
  border: 0px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  background: white;
}

.postStream {
  padding-left: 20px;
  padding-right: 10px;
/*  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
}

.post-row {
  margin-bottom: 30px;
}

.post {
  margin-bottom: 10px;
}

.post > h2 {
  font-size: 32px;
}

.readMore {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}
